p {
  font-size: var(--font-size-xs);
  color: var(--text-not-accented);
  line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: LabGrotesque-Bold;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: 24px;

  @media(min-width:400px) {
    font-size: var(--font-size-xxl);

  }
}

h3 {
  font-size: var(--font-size-l);

  @media(min-width:400px) {
    font-size: var(--font-size-xxxl);

  }
}

h4 {
  font-size: var(--font-size-s);
}