p {
  font-size: var(--font-size-xs);
  color: var(--text-not-accented);
  line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-s);
}