:root {
  /* Colors */
  --text-primary: #000;
  --text-secondary: rgb(128, 128, 128);
  --text-not-accented: rgb(190, 197, 204);
  --text-primary-inverted: #fff;

  --bg-primary: rgb(229, 229, 229);
  --bg-secondary: #b2b2b2;
  --bg-disabled: rgb(190, 197, 204);
  --bg-light: #fff;


  --bg-gradient: linear-gradient(231.57deg, rgb(220, 49, 49) 0.123%, rgba(255, 79, 79, 0) 112.361%), rgb(255, 94, 86);
  --accented-color: rgb(234, 0, 41);
  --accented-hover-color: rgb(245, 58, 49);

  --box-shadow: 0px 0px 24px 0px rgba(234, 0, 41, 0.33);

  /* Sizes */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;

  /* Delay */
  --transition-delay: 0.3s;
}


@font-face {
  font-family: "LabGrotesque-Medium";
  src: url('./assets/LabGrotesque-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LabGrotesque-Bold";
  src: url('./assets/LabGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background: var(--bg-primary);
  min-height: 100vh;
  font-size: var(--font-size-s);
  line-height: 24px;
  font-family: LabGrotesque-Medium;
}